<div class="row">
  <div class="col-md-6">
    <mat-table  #userList [dataSource]="users">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Fullname</mat-header-cell>
        <mat-cell *matCellDef="let one">{{one.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
        <mat-cell *matCellDef="let one">{{one.username}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="userCols"></mat-header-row>
      <mat-row  [class.selected]="current && row.ID === current.ID"
                *matRowDef="let row; columns: userCols;" (click)="select(row)">
      </mat-row>
    </mat-table>
    <mat-paginator #usersPaginator [pageSize]="10"
                  [length]="usersCount" (page)="onNavigate($event, 'users')"></mat-paginator>
  </div>
  <div class="col-md-6">
    <mat-table  #userList [dataSource]="todos">
      <ng-container matColumnDef="done">
        <mat-header-cell *matHeaderCellDef>Done</mat-header-cell>
        <mat-cell *matCellDef="let one">
          <mat-checkbox [checked]="one.done" [disabled]="true"></mat-checkbox>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Fullname</mat-header-cell>
        <mat-cell *matCellDef="let one">{{one.name}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="todoCols"></mat-header-row>
      <mat-row  *matRowDef="let row; columns: todoCols;"></mat-row>
    </mat-table>
  </div>
</div