<form class="login-container">
  <mat-form-field>
    <input name="logon" type="emeil" required="" matInput [(ngModel)]="user.logon" placeholder="Your email">
  </mat-form-field>

  <mat-form-field>
    <input name="password" required="" matInput [(ngModel)]="user.password" type="password" placeholder="Password">
  </mat-form-field>

  <button mat-button type="submit" (click)="login()">
    Login
  </button>
  <button mat-button type="submit" (click)="register()">
    Register
  </button>
</form>
